n8n-workflows/worker-onboarding-example.json
{
  "name": "Worker Onboarding - Enlite Health",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worker-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "worker-events"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event\"]}}",
              "value2": "worker.step.completed"
            }
          ]
        }
      },
      "name": "Is Step Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"payload\"][\"step\"]}}",
              "value2": 2
            }
          ]
        }
      },
      "name": "Is Step 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "properties": {
          "email": "={{$json[\"payload\"][\"data\"][\"email\"]}}",
          "firstname": "={{$json[\"payload\"][\"data\"][\"fullName\"].split(' ')[0]}}",
          "lastname": "={{$json[\"payload\"][\"data\"][\"fullName\"].split(' ').slice(1).join(' ')}}",
          "phone": "={{$json[\"payload\"][\"data\"][\"phone\"]}}"
        }
      },
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1",
          "name": "HubSpot OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"payload\"][\"step\"]}}",
              "value2": 4
            }
          ]
        }
      },
      "name": "Is Step 4?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "calendar": "primary",
        "start": "={{new Date().toISOString()}}",
        "end": "={{new Date(Date.now() + 3600000).toISOString()}}",
        "summary": "Worker Availability - {{$json[\"payload\"][\"data\"][\"fullName\"]}}",
        "description": "Availability slot created for worker"
      },
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event\"]}}",
              "value2": "worker.status.changed"
            },
            {
              "value1": "={{$json[\"payload\"][\"status\"]}}",
              "value2": "review"
            }
          ]
        }
      },
      "name": "Is Status Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 600]
    },
    {
      "parameters": {
        "fromNumber": "={{$env.TWILIO_PHONE_NUMBER}}",
        "toNumber": "={{$json[\"payload\"][\"data\"][\"phone\"]}}",
        "message": "Olá! Seu cadastro na Enlite Health está em análise. Em breve entraremos em contato."
      },
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 600],
      "credentials": {
        "twilioApi": {
          "id": "3",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Event processed\"}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Step Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Step Completed?": {
      "main": [
        [
          {
            "node": "Is Step 2?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Step 4?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Status Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Step 2?": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Step 4?": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Status Review?": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via Twilio": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
