n8n-workflows/worker-crud-events.json
{
  "name": "Worker CRUD Events - Enlite Health",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worker-crud-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "worker-crud-events"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event\"]}}",
              "value2": "worker.created"
            }
          ]
        }
      },
      "name": "Is Worker Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event\"]}}",
              "value2": "worker.updated"
            }
          ]
        }
      },
      "name": "Is Worker Updated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event\"]}}",
              "value2": "worker.deleted"
            }
          ]
        }
      },
      "name": "Is Worker Deleted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 600]
    },
    {
      "parameters": {
        "operation": "send",
        "channel": "={{$env.SLACK_NOTIFICATIONS_CHANNEL}}",
        "text": "=*Novo Worker Cadastrado*\n*ID:* {{$json[\"payload\"][\"workerId\"]}}\n*Email:* {{$json[\"payload\"][\"data\"][\"email\"]}}\n*Status:* Criado com sucesso",
        "options": {}
      },
      "name": "Notify Slack - Created",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [700, 150],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "channel": "={{$env.SLACK_NOTIFICATIONS_CHANNEL}}",
        "text": "=*Worker Atualizado*\n*ID:* {{$json[\"payload\"][\"workerId\"]}}\n*Mudanças:* {{JSON.stringify($json[\"payload\"][\"data\"][\"changes\"])}}",
        "options": {}
      },
      "name": "Notify Slack - Updated",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [700, 350],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "channel": "={{$env.SLACK_NOTIFICATIONS_CHANNEL}}",
        "text": "=*Worker Removido*\n*ID:* {{$json[\"payload\"][\"workerId\"]}}\n*Status:* Deletado do sistema",
        "options": {}
      },
      "name": "Notify Slack - Deleted",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [700, 550],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"CRUD event processed\"}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Worker Created?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Worker Updated?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Worker Deleted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Worker Created?": {
      "main": [
        [
          {
            "node": "Notify Slack - Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Worker Updated?": {
      "main": [
        [
          {
            "node": "Notify Slack - Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Worker Deleted?": {
      "main": [
        [
          {
            "node": "Notify Slack - Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack - Created": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack - Updated": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack - Deleted": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
